{% extends 'boardgame/base.html' %}

{% block content %}
    <div class="board-container">
        <h1 class="admin-money-title">은행</h1>
        <div class="admin-money-board">
        </div>
    </div>
    <script>
        const getPlayers = async () => {
            const response = await fetch('../api_get_players/', {
                method: 'GET'
            });
            const data = await response.json();
            
            const adminMoneyBoard = document.querySelector('.admin-money-board');
            adminMoneyBoard.innerHTML = '';
            data.players.forEach(player => {
                const playerDiv = document.createElement('div');
                playerDiv.classList.add('player');
                playerDiv.innerHTML = `
                    <div class="player-title" style="background-color: ${player.color_code}">${player.name}</div>
                    <p>${player.money}원</p>
                    <div class="player-money-control-form">
                        <input type="number" class="player-money-control-input" value="0">
                        <div class="player-money-control-buttons">
                            <button class="player-money-control-button" onclick="addMoney(${player.name})">+</button>
                            <button class="player-money-control-button" onclick="subMoney(${player.name})">-</button>
                        </div>
                    </div>
                `;
                adminMoneyBoard.appendChild(playerDiv);
            });
        }

        const addMoney = async (name) => {
            const input = document.querySelector('.player-money-control-input');
            const response = await fetch('../api_add_money/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    player_name: name,
                    money: input.value
                })
            }).then(response => {
                response.json();
            }).then(data => {
                alert(data.result);
            });
        }

        const subMoney = async (name) => {
            const input = document.querySelector('.player-money-control-input');
            const response = await fetch('../api_sub_money/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    player_name: name,
                    money: input.value
                })
            }).then(response => {
                response.json();
            }).then(data => {
                alert(data.result);
            });
        }

        onload = () => {
            getPlayers();
        }

        setInterval(getPlayers, 1000);
    </script>
{% endblock %}