{% extends 'boardgame/base.html' %}

{% block content %}
    <div class="container">
        <div class="player-money-board">
            <div class="player-money-board__title" style="background-color: {{ player_color_code }}">{{ player_name }}조 보유 자금</div>
            <div class="player-money-board__money">0원</div>
            <div class="player-money-board__title">다른 플레이어에게 송금</div>
            <div class="player-money-board__other-players">
            </div>
        </div>
    </div>
    <script>
        const getMyMoney = () => {
            fetch('../../api_get_my_money/{{ player_name }}/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.player-money-board__money').textContent = `${data.money}원`;
                });
        };

        onload = () => {
            getMyMoney();
        };

        // call the function every 1 second
        setInterval(getMyMoney, 1000);

        // call the api to get the other players' name
        fetch('../../api_get_players/', {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {
                const otherPlayers = data.players.filter(player => player.name !== '{{ player_name }}');
                const otherPlayersElement = document.querySelector('.player-money-board__other-players');
                otherPlayers.forEach(player => {
                    const playerElement = document.createElement('div');
                    playerElement.classList.add('player-money-board__other-players__player');
                    playerElement.style.backgroundColor = player.color_code;
                    playerElement.textContent = player.name;
                    otherPlayersElement.appendChild(playerElement);
                });
            });
        
        // ask the money for send to another player when the player-money-board__other-players__player is clicked
        document.querySelector('.player-money-board__other-players').addEventListener('click', (e) => {
            if (e.target.classList.contains('player-money-board__other-players__player')) {
                const otherPlayerName = e.target.textContent;
                const money = prompt(`${otherPlayerName}조에 보낼 금액을 입력하세요.`);
                if (money) {
                    fetch('../../api_send_money/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            from_player_name: '{{ player_name }}',
                            to_player_name: otherPlayerName,
                            money: money,
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (response.status === 200) {
                                alert(`${otherPlayerName}에게 ${money}원을 보냈습니다.`);
                            } else {
                                alert('보내기에 실패했습니다.');
                            }
                        });
                }
            }
        });


    </script>
{% endblock %}
